<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hyucs.mapper.UserMapper">
	
	<insert id="registration">
		insert into tbl_user(uid, upw, uname, uphonenum)
		values(#{uid}, #{upw}, #{uname}, #{uphonenum})
	</insert>
	
	<select id="login" resultType="UserVO">
		select uid, upw, uname, uphonenum
		from tbl_user
		where uid=#{uid} and upw=#{upw}
	</select>
	
</mapper>